<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ApiUrl" value="https://www.cloudflarestatus.com/api/v2/incidents.json"/>
		<add key="UnresolvedApiUrl" value="https://www.cloudflarestatus.com/api/v2/incidents/unresolved.json"/>
		<add key="EmailFrom" value="CloudflareReports@gmail.com"/>
		<add key="EmailTo" value="bernard3477286@outlook.com"/>
		<add key="BypassSslValidation" value="false"/>
		<add key="Smtp:Server" value="smtp.gmail.com"/>
		<add key="Smtp:Port" value="587"/>
		
		<add key="Smtp:Username" value="YmVybmFyZHdvdGhlcnNwb29uNTVAZ21haWwuY29t"/>
		<add key="Smtp:Password" value="YnNpdyBqd3Z2IHlxYXkgbnJwag=="/>
		<add key="Smtp:UseSsl" value="true" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v8.0"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>